altgraph==0.17.3
asgiref==3.7.2
auto-py-to-exe==2.39.0
bottle-websocket==0.2.9
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.7
docutils==0.20.1
Eel==0.16.0
filelock==3.12.4
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.0rc3
gunicorn==21.2.0
idna==3.4
packaging==23.2
pefile==2023.2.7
platformdirs==3.10.0
Pygments==2.16.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pyparsing==3.1.1
pypiwin32==223
pywin32-ctypes==0.2.2
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.5
zope.event==5.0
zope.interface==6.0
typing-extensions>=4; python_version<"3.8"
bottle==0.12.25
whichcraft==0.6.1
python_version==3.11.6
